body {
  background-color: #f8f9fa;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

.btn-primary {
  background-color: #A26C61;
  border: none;
}

.btn-primary:hover {
  background-color: #fd9886;
}

.card {
  border-radius: 18px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}

.listing-card {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.listing-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}


footer a:hover {
  color: #A26C61 !important;
}

footer {
  background: #ffffff;
}

.hero {
  background-image: url("assets/airbnb.jpg"); /* direct path from public */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px; /* adjust as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
}

/* Optional: add overlay for better text readability */
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* semi-transparent black overlay */
  z-index: 0;
}

.hero * {
  position: relative;
  z-index: 1; /* make text above overlay */
}